* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d2ad6;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 60px;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 20px;

}

.input-contact {
    margin-bottom: 25px;
    height: 40px;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.input-contact::placeholder {
    font-size: 15px;
    font-weight: bold;
}

.button-search {
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: 15px;
    cursor: pointer;
}

.box-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-found-notice, .name-user, .tel-user {
    margin-top: 20px;
    color: #FFFFFF;
}

.button-search:hover {
    opacity: 0.7;
}